body {
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Oxygen', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Jura', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Poiret One', cursive; */
    /* font-family: 'Oxygen', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Jura', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Proza Libre', sans-serif; */
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-caption {
    color: #f4511e;
    font-weight: bolder;
}

.carousel-indicators li {
    background-color:#C0C0C0;
}
.carousel-indicators li.active {
    background-color:#000000;
}
.gallery_product {
    margin-bottom: 30px;
}
